tensorflow==2.19.0
absl-py==2.1.0
aioboto3==14.1.0
aiobotocore==2.21.1
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiohttp-retry==2.9.1
aioitertools==0.12.0
aiosignal==1.3.2
alembic==1.15.2
amazon-bedrock-haystack==3.5.1
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array-record==0.4.1
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
asyncssh==2.20.0
async-lru==2.0.5
async-timeout==5.0.1
atpublic==5.1
attrs==25.1.0
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.13.3
billiard==4.2.1
bleach==6.2.0
blinker==1.9.0
blis==1.2.0
boto3==1.37.1
botocore==1.37.1
cached-property==1.5.2
cachetools==5.5.2
catalogue==2.0.10
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.21.0
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
confection==0.1.5
configobj==5.0.9
contourpy==1.3.0
cryptography==44.0.1
cycler==0.12.1
cymem==2.0.11
databricks-sdk==0.49.0
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
dm-tree==0.1.8
docker==7.1.0
docker-pycreds==0.4.0
dpath==2.2.0
dulwich==0.22.7
dvc==3.59.1
dvc-data==3.16.9
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.40.2
entrypoints==0.4
en_core_web_sm==3.8.0
etils==1.5.2
et_xmlfile==2.0.0
eval_type_backport==0.2.2
Events==0.5
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.8
fastjsonschema==2.21.1
filelock==3.17.0
findspark==2.0.1
Flask==3.1.0
flatbuffers==25.2.10
flatten-dict==0.4.2
flufl.lock==8.1.0
fonttools==4.55.8
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.2.0
funcy==2.0
future==1.0.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.38.0
google-pasta==0.2.0
grandalf==0.8
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.70.0
gto==1.7.2
h11==0.14.0
h2==4.2.0
h5py==3.13.0
haystack-ai==2.12.2
haystack-experimental==0.9.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
hydra-core==1.3.2
hyperframe==6.1.0
hyperopt==0.2.7
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.18.1
isoduration==20.11.0
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
json5==0.12.0
JsonForm==0.0.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
JsonSir==0.0.2
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyter_client==7.4.9
jupyter_core==5.7.2
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
keras==3.9.0
kiwisolver==1.4.7
kombu==5.4.2
langcodes==3.5.0
language_data==1.3.0
lazy_imports==0.4.0
libclang==18.1.1
lxml==5.3.2
Mako==1.3.9
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.1
mlflow==2.21.2
mlflow-skinny==2.21.2
ml_dtypes==0.5.1
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
multidict==6.1.0
murmurhash==1.0.12
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
notebook==7.3.3
notebook_shim==0.2.4
numpy==1.26.4
omegaconf==2.3.0
openai==1.75.0
opencv-python==4.11.0.86
openpyxl==3.1.5
opensearch-haystack==4.0.0
opensearch-py==2.8.0
opentelemetry-api==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
optree==0.14.1
opt_einsum==3.4.0
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pdfminer.six==20250327
pdfplumber==0.11.6
pickleshare==0.7.5
pillow==10.2.0
pip==25.0
platformdirs==4.3.6
posthog==3.25.0
preshed==3.0.9
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.50
propcache==0.3.0
protobuf==3.20.3
psutil==6.1.1
pure_eval==0.2.3
py4j==0.10.9.7
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydot==3.0.4
pygit2==1.15.1
Pygments==2.19.1
pygtrie==2.5.0
PyMuPDF==1.25.5
pyparsing==3.2.1
pypdf==5.4.0
pypdfium2==4.30.1
pyspark==3.5.5
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.1.2
Python-EasyConfig==0.1.7
python-json-logger==2.0.7
python-pptx==1.0.2
pytz==2025.1
pywin32==307
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==24.0.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
Resource==0.2.1
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3transfer==0.11.3
scikit-learn==1.6.1
scipy==1.13.1
scmrepo==3.3.10
seaborn==0.13.2
semver==3.0.4
Send2Trash==1.8.3
sentry-sdk==2.22.0
setproctitle==1.3.5
setuptools==75.8.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
sqlparse==0.5.3
sqltrie==0.11.2
srsly==2.5.1
stack_data==0.6.3
starlette==0.45.3
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-datasets==4.9.0
tensorflow_intel==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.16.1
termcolor==2.5.0
terminado==0.18.1
thinc==8.3.4
threadpoolctl==3.5.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchsummary==1.5.1
torchvision==0.21.0+cu126
tornado==6.4.2
tqdm==4.66.2
traitlets==5.14.3
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
typing_utils==0.1.0
tzdata==2025.1
uri-template==1.3.0
urllib3==1.26.20
uvicorn==0.34.0
vine==5.1.0
voluptuous==0.15.2
waitress==3.0.2
wandb==0.19.9
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
XlsxWriter==3.2.3
yarl==1.18.3
zc.lockfile==3.0.post1
zipp==3.21.0
